<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/ESD_Project?createDatabaseIfNotExist=true&amp;useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="connection.username">groot</property>
        <property name="connection.password">iamgroot</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.esd_project.esd_project.bean.Student"/>
        <mapping class="com.esd_project.esd_project.bean.Employee"/>
        <mapping class="com.esd_project.esd_project.bean.Course"/>
        <mapping class="com.esd_project.esd_project.bean.CourseTA"/>
        <mapping class="com.esd_project.esd_project.bean.Stu_Course"/>
    </session-factory>
</hibernate-configuration>